/* https://mattbrictson.com/blog/css-normalize-and-reset#my-recommendation */

/* :root font added: 
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  https://css-tricks.com/snippets/css/system-font-stack/
 */

/* Personal changes
    :root - box-sizing: border-box;
    input - appearance: none;
    body - margin: 0;
*/

@import "modern-normalize";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

:root {
  line-height: 1.5;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

input {
  appearance: none;
}

/* New Styles */

body {
  font-size: 1.5rem;
  font-family: 'Roboto';
  --blue: (39, 136, 216);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 150px 1fr;
  height: 100vh;
}

.header {
  grid-column: 2 / 3;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.content {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: minmax(350px, 1fr) minmax(250px, 300px);
  background-color: rgb(235, 235, 235);
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid orange;
}

.announcements,
.trending {
  grid-column: 2 / 3;
}

.sidebar {
  grid-row: 1 / 3;
  background-color: rgb(39, 136, 216);
  color: white;
  font-weight: bold;
}

.dashboard-logo {
  fill: white;
  display: flex;
  align-items: center;
}

.svg-logo {
  width: 100%;
  height: 100%;
  display: block;
}

.svg-box {
  height: 100px;
  width: 100px;
}

h1 {
  font-size: 2.5rem;
}

.main-navigation,
.sub-navigation {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 20px;
}

.sub-navigation{
  padding-top: 3rem;
}

.nav-icon {
  display: flex;
  flex-direction: column;
}

.nav-icon > i,
.nav-link > p {
  height: 40px;
}


.header-top {
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: bold;
  padding: 5px;
}

.header-top > input {
  max-width: 500px;
}

.search-icon-container,
.bell-icon-container {
  height: 50px;
  width: 50px;
}

img {
  object-fit: cover;
  border: 1px solid black;
}

.search-prof-img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-right: 15px;
  margin-left: 5px;
}

.header-bottom {
  border: 1px solid ggreen;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  align-items: center;
  font-weight: bold;
}

.header-big-img {
  height: 75px;
  width: 75px;
  border-radius: 150px; 
}

.header-top > input{
  flex: 1;
}